body{
    background:#eae4e8 ;
}
.register {
  position:absolute;
   width:35%;
   height:95%;
   margin-left:30%;
    background-color: #313338;
    color:whitesmoke;
    border-radius:5px;
}
.register h2{
    text-align: center;
}
.register form{
    margin:0 30px;
}
.register .item1 {
    background:#1e1f22;
    font-size:15px;
    color:wheat;
    width: 90%;
    height:35px;
    border-radius:5px;
    padding-left:15px;
}
 .register .birthday{
    display:flex;
    justify-content: space-between;
} 
.register .birthday .item2 {
    background:#1e1f22;
    color:wheat;
    font-size:15px;
    width: 30%;
    height:35px;
    border-radius:5px;
    text-align: left;
    padding-left :10px;
    margin-right:10px;
    margin-bottom:20px;
}
.register button{
    background-color: #f9bb01;
    color:white;
    display:inline-block;
    width: 80%;
    height:40px;
    margin:30px 8%;;
    text-align:center;
    border-radius:5px;
}
.register button:hover{
    background:#dfae1c;
}
.register .check p {
    display: inline;
    
}
a{
    color:#b6b328;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

 