*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
#wrapper{
    position: relative;
}
.menu-top{
    display: flex;
}
.menu-top img{
    width: 100vw;
    height: 44px;
    background-size: cover;
}
.menu-middle{
    padding: 0 70px;
    background-color: #fabb00;
    color: #000000;
    height: 31px;
}
.menu-middle-inside{
    display: flex;
    justify-content: space-between;
    
}
.menu-middle .menu-middle-left{
    display: flex;
    padding: 6.7px 0;
}
.menu-middle .menu-middle-left .hotline{
    padding-right: 15px;
}
.menu-middle .menu-middle-left .cooperate a{
    padding-left: 15px;
    border-left: 1px solid #776d6d;
    text-decoration: none;
    color: #000000;
}
.menu-middle .menu-middle-right{
    display: flex;
    padding: 6.7px 0;
}
.menu-middle .menu-middle-right .shop-system a{
    padding-right: 15px;
    text-decoration: none;
    color: #000000;
}
.menu-middle .menu-middle-right .order-check a{
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #776d6d;
    text-decoration: none;
    color: #000000;
}
.menu-middle .menu-middle-right .contact a{
    padding-left: 15px;
    border-left: 1px solid #776d6d;
    text-decoration: none;
    color: #000000;
}
.menu-middle-inside p{
    font-size: 13px;
}
.menu-bottom{
    background-color: #263342;
    padding: 0 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.menu-bottom .menu-bottom-inside{
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}
.menu-bottom .logo a{
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
    font-weight: 630;
}
.search{
    background-color: #ffff;
    align-items: center;
    border-radius: 3px;
    width: 675px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width: 650px;
    padding: 12px;
    background-color: #ffff;
    border-radius: 3px 0 0 3px;
    border: 1px solid #ececec;
    outline: none;
}
.search:focus-within{
    border: 1px solid #f9bb01;
}
.search .btn-search{
    background-color: #f9bb01;
    border-radius: 0px 3px 3px 0;
    padding: 12px 20px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #263342;
    outline: none;
    color: #ffff;
    cursor: pointer;
}
.search .btn-search i{
    font-size: 20px;
}
.menu-bottom-items{
    display: flex;
    color: #ffff;
    align-items: center;
}
.menu-bottom-items p{
    font-size: 13px;
}
.location p{
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu-bottom-items .location > i,
.menu-bottom-items .account > i,
.menu-bottom-items .cart > i{
    font-size: 25px;
    margin-right: 10px;
}
.menu-bottom-items .location{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-bottom-items .account{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-bottom-items .cart{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-bottom-items .cart i{
    position: relative;
}
.menu-bottom-items .cart span{
    position: absolute;
    background-color: #ff0000;
    font-size: 13px;border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    line-height: 20px;
    font-weight: 600;
    bottom: 17px;
    left: 21px;
    color: #ffff;
}
.menu-bottom-items .mn-bt-it1-inside,
.menu-bottom-items .mn-bt-it2-inside{
    padding: 0 20px;
    border-left: 1px solid #5c5b5b;
}
.menu-bottom-items .mn-bt-it3-inside{
    padding-left: 20px;
    border-left: 1px solid #5c5b5b;
}
.menu-category{
    padding: 0 70px;
}
.menu-category .menu-category-container{
    display: flex;
    align-items: center;
    height: 44px;
}
.menu-category-container .category{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 -4px 6px 2px rgba(60, 64, 67, 0.15);
    width: 250px;
}
.menu-category-container .commit{
    display: flex;
    align-items: center;
}
.menu-category-container .commit-quality{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.menu-category-container .commit-ship{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.menu-category-container .commit-check{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.menu-category-container .category i{
    font-size: 20px;
    padding-right: 5px;
}
.menu-category-container .category p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: #252a2b;
}
.menu-category-container .commit img{
    height: 20px;
    padding-right: 5px;
}
.menu-category-container .commit p{
    font-size: 13px;
    color: #252a2b;
}
.content{
    background-color: #f5f5f5;
}
.content .container{
    max-width: 100vw;
    padding: 0 70px;
}

.content .container{
    max-width: 100vw;
    padding: 0 70px;
}
*{
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: whitesmoke;

}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.about-text h1{
    color: #263342;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #fabb00;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #263342;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: #fabb00 ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid #fabb00;
    cursor: pointer; 
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size:4rem;
    color: #fff;
    padding:1rem;
    margin:2rem 0;
    background: #263342;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}
.heading span{
    color:var(--pink);

}
.tittle .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color:#fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    border: none;
    text-decoration: none;
    transition: all 0.25s ease-in;
}
.btn:hover{
    background: transparent;
    color: #000;
    cursor: pointer;
    font-weight: 900;
    transition: all 0.25s ease-in;
}
.btn-1:hover {
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 2px -1px ;
    transition: all 0.25s ease-in;
    border: 3px solid #fff;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background-image: url("cover-1(1).jpg") no-repeat; */ 
    background-image: url("../img/thay-ao-cho-ban-phim-voi-bo-hinh-nen-ban-phim-2022-cuc-dep_623c5077604aa-768x432.jpeg");
    background-size: cover;
    background-position: center;
}
.home .tittle{
    max-width: 50rem;

}
.home .tittle h3{
    font-size: 6rem;
    color: #fabb00;
}
.home .tittle span{
    font-size: 3.5rem;
    color  : #fff;
    padding: 1rem 0;
    line-height: 1.5;
}
.home .tittle p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
}
.about .row{
    display:flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
    justify-content: center;
}
.about .row .about-left{
    /* flex: 1 1 40rem; */
   position: relative;
}
.about .row .about-left img{
    max-width:100%;
    border:0.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height:100%;
    object-fit: cover;
}
.about .row .about-left h3{
    /* position: absolute; */
    /* top: 50%;
    transform: translate(-50%); */
    top: 228px;
    font-size: 3rem;
    color:#fabb00;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    /* mix-blend-mode: screen; */

}
.about .row .tittle{
    flex:1 1 40rem;
}
.abour .row .tittle h3{
    font-size: 3rem;
    color:#333;
}
.abour .row .tittle p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem;
    padding-top: 1rem;
    line-height:1.5 ;
}
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons{
    background: #fff ;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}
.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icons-container .icons h3{
    color: #333;
    padding-bottom:  .5rem;
    font-size: 1.5rem;;
}
.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;;
}
.contact .contact-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5 rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}
.contact .contact-form .image{
    flex: 1 1 40rem;
}
.contact .contact-form .image img{
    width: 100%;
}
.contact .contact-form form .box{
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    text-transform: none ;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .2rem;
    margin: .3rem 0;
    width: 500px;

}
.contact .contact-form form .box:focus{
    border-color: var(--pink);
    outline: none;

}
.contact .contact-form form textarea{
    height: 15rem;
    resize: none;
}
.contact-form{
    display: flex;
    align-items: center;
}
.incons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.incons-container .icons{
    display: flex;
    align-items: center;
    flex-basis: 300px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
}
.incons-container .icons .info{
    margin-left: 15px;
}
/* Footer */
.footer{
    position: absolute;
    bottom: auto;
}
.footer .send {
    background-color: #009dde;
    display:flex;
    align-items: center;
    justify-content: center;
    height:110px;
}
.footer .send .content{
    background:#009dde;
    color:#f5f5f5;
    line-height: 35px;
}
.footer .send .content p{
    font-size:14px;
    margin-left:-200px;
}
.footer .send .content{
    margin:0 30px 0 300px;
}
.footer .send .btn input{
    height: 44.4px;
    width: 550px;
    padding-left: 10px;
    border:1px solid white;
    border-radius:5px;
}
.footer .send .btn button{
    border-radius:5px;
    color:whitesmoke;
    font-weight: 600;
    border:1px solid white;
    background-color: #f9bb01;
}
.footer .send .btn button:hover{
    background-color: #0f29a0;
}
.footer .infor{
    height:295px;
    display:flex;
    margin:40px 0 0 20px;
}
.footer .infor a{
    color:#263342;
    text-decoration: none;
    font-size:14px;
    line-height: 30px;
}
.footer .infor li:hover{
    color:#009dde;
}
.footer .infor a:hover{
    color:#009dde;
}
.footer .infor p{
    font-size:14px;
    line-height: 30px;
}
.footer .infor h3{
    margin-bottom:25px;
}
.footer .infor .item{
    flex:1;
    margin-right: 20px;
}
.footer .infor .item:nth-child(1){
    flex:1.5;
}
.footer .infor .item:nth-child(2){
    flex:1.5;
    padding-right:20px;
}
.footer .infor .item .item1{
    display:flex;
}
.footer .infor .item .icon{
    margin-right: 5px;
    margin-top:3px;
}
.footer .infor .icon1 a i{
    border :1px solid #a6a0a0;
    border-radius: 5px;
    padding:8px 7px;
    width: 30px;
    height:30px;
}
.footer .infor .icon1 a{
    margin-right: 5px;
}
.footer .infor .icon1 {
    margin-top:15px;
}

.footer .infor .icon1 a i:hover{
    border-color:#009dde;
}

.footer .end{
    border-top:1px solid #a6a0a0;
    height:40px;
}
.footer .end p{
    font-size: 13px;
    text-align: center;
    margin:10px auto;
}
