body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.act{
    background:#ccc;
    height:100vh;
}
.act h2{
    margin-top:0px;
    margin-left:3%;
}
.act .people {
    background:white;
    width:25%;
    margin-left:3%;
    border:1px solid #ccc;
    position: relative;
}
.act .people ul{
    display:flex;
    flex-direction: column;
}
.act .people ul li {
    width:80%;
    list-style-type: none;
    display:inline-block;

}
.act .people i{
    width:10%;
}
.act .people ul li a{
    color :black;
    text-decoration: none;
}
.act .people .order,.act .people .fvr,.act .people .psn,.act .people .cpd,.act .people .adr,.act .people .sgo{
    display :flex;
    margin:0 auto;
    width:80%;
    padding:20px;
    margin-left:-10px;
    border-bottom:1px solid #ccc;
}
.act .people .sgo{
    border-bottom:none;
}
.act .people ul div:hover{
    background-color:#ccc;
}
.people .order .click1,.people .fvr.click1,.people .psn .click1 ,.people .cpd .click1,.people .adr .click1 
{
    width:900px;
    height:90vh;
    background-color :aquamarine;
    position: absolute;
    top:0;
    right:-920px;
}
.people ul div .click1:hover{
    width:900px;
    height:90vh;
    background-color :aquamarine;
    position: absolute;
    top:0;
    right:-920px;
}
